.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
    font-family: "Montserrat" !important; 
     font-weight: 100 !important; 
    
}

.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe {
     font-size: 12px !important; 
}

.nsm7Bb-HzV7m-LgbsSe{
    color: "#858585" !important;
    border-radius: 10px !important;
    border: none !important;
}